
<div class="banner">
  <h1> Les Cocktails </h1>
  <h1> Only the finest cocktails. Please don't add average cocktails. </h1>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-6 offset-md-6" style="text-align: center; display: flex;">
        <div class="card">
          <div class="card-body" style="background-image: url(<%= cocktail.photo %>);">
          <h2><%= cocktail.name %></h2>

          <ol>
            <% cocktail.doses.each do |dose| %>
              <li><%= "#{dose.description} #{dose.ingredient.name}" %></li>
            <% end %>
          </ol>
        </div>
         <ul class="list-inline">
          <li class="list-inline-item" style="padding-right: 10vw;"><%= link_to cocktail_path(cocktail), method: :get do %>
            <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li class="list-inline-item" style="padding-left: 10vw;">
            <%= link_to cocktail_path(cocktail), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
