<div class="banner-cocktail">
  <div class="container">
    <div class="row">
      <h1><%= @cocktail.name %></h1>
      <div class="col-md-6 offset-md-3" style="text-align: center;">
        <img src=<%=@cocktail.photo %> style="border-radius: 15px; align-self: center;">
        <%= simple_form_for(@cocktail) do |f| %>
          <h2><%= f.input :photo, wrapper_html: { class: 'banner-description' } %></h2>
          <%= f.input :photo_change, as: :hidden %>
          <%= f.submit "upload", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-md-6 offset-md-3" style="text-align: center;">
        <div class="ingredients-list">
          <h2>Ingredients:</h2>
          <% @doses.each do |dose| %>
          <p><%= "#{dose.description} #{dose.ingredient.name}" %></p>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
          <h1><%= link_to new_cocktail_dose_path(@cocktail), method: :get do %>
            <i class="fas fa-plus-square"></i>
            <% end %>
          </h1>

          <h1><%= link_to cocktails_path, method: :get do %>
            <i class="fas fa-hand-point-left"></i>
          <% end %></h1>
        </div>
      </div>
    </div>
   </div>
</div>
