<div class="banner-cocktail">
  <h1><%= @cocktail.name %></h1>
  <img src=<%=@cocktail.photo %> style="border-radius: 15px; align-self: center;">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :photo %>
    <%= f.input :photo_change, as: :hidden %>
    <%= f.submit %>
  <% end %>
</div>
<div class="ingredients-list">
  <h2>Ingredients:</h2>
  <% @doses.each do |dose| %>
  <p><%= "#{dose.description} #{dose.ingredient.name}" %></p>
    <%= link_to dose_path(dose), method: :delete do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
  <p><%= link_to '+ Add ingredients', new_cocktail_dose_path(@cocktail), method: :get%></p>

  <p><%= link_to 'Back', :back %></p>

  <p><%= link_to "All cocktails", cocktails_path, method: :get%></p>
</div>
